.big-padding {
  padding-top: 150px;
}
.padding-50 {
  padding-bottom: 50px;
}
.padding-100 {
  padding-bottom: 100px;
}
.padding-150 {
  padding-bottom: 150px;
}
div.all-padding-100 {
  padding: 100px;
}
.margin-all-100 {
  margin-bottom: 100px;
}
.height-100 {
  height: 100%;
}
.height-79 {
  height: 79vh;
}
@media (max-width: 1150px) {
  .width-md-100 {
    width: 100%;
  }
  .big-padding {
    padding-top: calc(150px/2);
  }
  .margin-50 {
    margin-bottom: 50px;
  }
  .margin-100 {
    margin-bottom: 100px;
  }
  .padding-100 {
    padding-bottom: calc(100px/2);
  }
  .padding-150 {
    padding-bottom: calc(150px/2);
  }
}
