.big-padding {
  padding-top: 150px;
}
.padding-50 {
  padding-bottom: 50px;
}
.padding-100 {
  padding-bottom: 100px;
}
.padding-150 {
  padding-bottom: 150px;
}
div.all-padding-100 {
  padding: 100px;
}
.margin-all-100 {
  margin-bottom: 100px;
}
.height-100 {
  height: 100%;
}
.height-79 {
  height: 79vh;
}
.feedback {
  .title-text {
    padding-right: 10px;
  }
  .b-icon {
    position: absolute;
    margin-top: 5px;
  }
}
.outline-none:focus {
  outline: none;
}
#modal-center {
  .modal-dialog {
    max-width: 90vw;
  }
  .modal-body {
    padding: 40px 0;
  }
}
#nav-modal {
  .modal-dialog {
    max-width: 96vw;
  }
  .modal-header {
    background-color: #222;
    border: none;
    padding-right: 30px;
    button {
      color: #fff;
    }
  }
  .modal-content {
    border: none;
  }
  .modal-body {
    border: none;
    padding: 0 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
  }
}
@media (max-width: 400px) {
  #nav-modal {
    .modal-body {
      padding: 20px 40px 20px;
    }
  }
  div.all-padding-100 {
    padding: 40px;
  }
}
@media (max-width: 1150px) {
  .width-md-100 {
    width: 100%;
  }
  .big-padding {
    padding-top: calc(150px/2);
  }
  .margin-50 {
    margin-bottom: 50px;
  }
  .margin-100 {
    margin-bottom: 100px;
  }
  .padding-100 {
    padding-bottom: calc(100px/2);
  }
  .padding-150 {
    padding-bottom: calc(150px/2);
  }
}
@media (max-width: 800px) {
  .feedback {
    .b-icon {
      position: absolute;
      margin-top: 3px;
    }
  }
}