.navbar-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}
.footer-text {
  font-family: "EurostyleLTStd";
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 3.375rem;
}
.gray-small-text-500 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #6d6d6d;
}
.gray-small-text {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #6d6d6d;
}
.gray-big-text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #adadad;
}
.small-text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2.0625rem;
}
.normal-text {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.875rem;
}
.big-text {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 160%;
}
.title-text {
  font-size: 1.4375rem;
  font-weight: 500;
}
.name-title-text {
  font-size: 4.75rem;
  font-family: "EurostyleLTStd";
}
.top-title-text {
  font-weight: 400;
  font-size: 4rem;
  line-height: 150%;
  letter-spacing: 0.4rem;
}
.action-text {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #605f5f;
}
// .title-text {
//   font-weight: 600;
//   font-size: 1.5rem;
//   line-height: 3.75rem;
// }
.text-black {
  color: #000;
}
.text-gray {
  color: #6d6d6d;
}
.top-title-container {
  font-size: 2.25rem;
}
.feedback .action {
  font-size: 1.25rem;
  font-weight: 500;
  color: #adadad;
}
.card-primary {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.card-secondary {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}
@media (max-width: 1150px) {
  .name-title-text {
    font-size: 3.4375rem;
  }
  .top-title-container {
    font-size: 1.5625rem;
  }
  .feedback {
    .action {
      font-size: 1rem;
      font-weight: 500;
      color: #adadad;
    }
    .title-text {
      font-size: 1.125rem;
    }
  }
}
@media (max-width: 1366px) {
  .top-title-text {
    font-size: 3.4375rem;
  }
}

@media (max-width: 800px) {
  .name-title-text {
    font-size: 1.6875rem;
  }
  .top-title-container {
    font-size: 1rem;
  }
  .top-title-text {
    font-size: 1.6875rem;
  }
  .feedback {
    .action {
      font-size: 1rem;
      font-weight: 500;
      color: #adadad;
    }
    .title-text {
      font-size: 1.125rem;
    }
  }
  .footer-text {
    font-size: 1.125rem;
  }
  .footer {
    .text-right {
      text-align: left !important;
    }
  }
}
